* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

body {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-image: url(https://images.pexels.com/photos/38089395/pexels-photo-38089395.jpeg?_gl=1*2lcb7a*_ga*MjA2OTUxMDk1My4xNzU1Mjg4MjM1*_ga_8JE65Q40S6*czE3OTA5NjUzMTkkbzckZzEkdDE3OTA5NjUzMzgkajQxJGwwJGgw);
	background-position: 30% 22%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;

}

.container {
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 20px;
}

.container .btn {
	position: relative;
	top: 0;
	left: 0;
	width: 250px;
	height: 50px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .btn a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #ffffff;
	font-weight: 400;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
}

.container .btn:hover a {
	letter-spacing: 10px;
}

.container .btn a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(103, 101, 101, 0.389), transparent);
	transform: skewX(60deg) translate(200);
	transition: 0.9s;
	filter: blur(0px);
}

.container .btn:hover a::before {
	transform: skewX(45deg) translate(200px);
}

.container .btn::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.2s;
}

.container .btn:hover::before {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

.container .btn::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.2s;
}

.container .btn:hover::after {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

.container .btn:nth-child(1)::before,
.container .btn:nth-child(1)::after {
	background: #07f717d1;
	box-shadow: 0 0 5px #07f717d1, 0 0 15px #07f717d1, 0 0 30px #07f717d1,
		0 0 60px #07f717d1;
}

.container .btn:nth-child(2)::before,
.container .btn:nth-child(2)::after {
	background: #cd03fbaf;
	box-shadow: 0 0 5px #cd03fbaf, 0 0 15px #cd03fbaf, 0 0 30px #cd03fbaf,
		0 0 60px #cd03fbaf;
}

.container .btn:nth-child(3)::before,
.container .btn:nth-child(3)::after {
	background: #f56040;
	box-shadow: 0 0 5px #f56040, 0 0 15px #f56040, 0 0 30px #f56040,
		0 0 60px #f56040;
		
}

.name {
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: clamp(1.8rem, 8vw, 3.5rem);
	padding: 0 15px;
	letter-spacing: 2px;
	display: flex;
	position: absolute;
	top: 28%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	color: #000000;
	text-shadow:
		0 0 5px #fff,
		0 0 5px #fff,
		0 0 5px #ffffff,
		0 0 5px #ffffff,
		0 0 5px #fbfbfb;
		animation: pulsar 2s ease-in-out infinite alternate;
}

@keyframes pulsar {
	from {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ffffff, 0 0 40px #fafcfb;
	}
	to {
		text-shadow: 0 0 10px #fff, 0 0 25px #f0f0f0, 0 0 50px #f4faf5, 0 0 100px #ffffff;
	}

}